@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin transition($value) {
  -moz-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}

%faded-box {
  border-radius: 3px;
  background: rgba(51, 54, 66, 0.5);
  padding: 0.75em;
}

* {
  @include box-sizing(border-box);
}

body {
  background: #0A1620 url('/background.png') repeat;
  color: white;
  font-family: 'Varela Round', sans-serif;
  width: 57.5em;
  margin: 0 auto;
}

input, button {
  font: inherit;
  padding: 1em;
  margin: 0;

  // remove faux padding in FF
  &::-moz-focus-inner {
    border: none;
    margin: 0;
  }
}

input[type='text'], input[type='number'], input[type='email'] {
  border-radius: 3px;
  border: none;
  background: #FFF;

  // remove increment/decrement buttons
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

button {
  @extend .btn;
}

a {
  border-bottom: 1px dotted;
  color: #428CC4;
  text-decoration: none;
}

.btn {
  @include transition(all 0.15s linear);
  box-shadow: 0 -5px 0 0 #295475 inset;
  border-radius: 3px;
  border: none;
  background-color: #336C99;
  color: #FFF;
  cursor: pointer;
  padding: 1em;
  display: inline-block;

  &:hover, &:focus {
    box-shadow: 0 -5px 0 0 #2F5C7F inset;
    background: #428CC4;
  }

  &:active {
    box-shadow: none;
  }

  &.btn-large {
    width: 50%;
    margin-top: 1em;
  }
}

// write these as a <label> with your <input> and label content inside
.placeheld-field {
  cursor: text;
  position: relative;
  display: inline-block;

  .placeholder {
    color: #888;
    line-height: 1;
    position: absolute;
    left: 1em;
    top: 50%;
    margin-top: -0.5em;
  }

  input[data-placeheld='false'] ~ .placeholder,
  input[data-placeheld='true']:focus ~ .placeholder {
    visibility: hidden;
  }
}

.keyword {
  color: #428CC4;
}

.secondary-page {
  text-align: center;
  margin-top: 5em;

  .page-header {
    font-size: 200%;
    margin-bottom: 0;
  }
}

.page-header {
  text-shadow: 0 2px rgba(0,0,0,1);
}

.page-header {
  font-size: 300%;
  font-weight: normal;
  text-align: center;
}

.find-legislators {
  @extend %faded-box;
  padding: 1em;
  overflow: hidden;

  label, button {
    float: left;
  }

  input[type='number'] {
    border-radius: 3px 0 0 3px;
  }

  button {
    box-shadow: none;
    border-radius: 0 3px 3px 0;
  }

  .explanation {
    padding-left: 1em;
    margin: 0.375em 0 0;
    overflow: hidden;
  }
}

.signup {
  text-align: center;
  display: none;

  h2 {
    font-size: 125%;
    font-weight: normal;
    text-align: left;
  }

  .loading-indicator, .no-results-message, .legislators {
    @extend %faded-box;
  }

  .loading-indicator, .no-results-message {
    display: none;
  }

  .subscription-info {
    display: none;

    .legislators {
      margin-bottom: 1.25em;
      list-style: none;
      padding-bottom: 0;
      overflow: hidden;

      li {
        text-align: left;
        width: 18.5em;
        margin-bottom: 0.75em;
        float: left;

        &:not(:nth-child(3n+3)) { padding-right: 1em; }
      }

      .select-legislator {
        @extend .btn;
        width: 100%;
        padding: 0.5em;
        opacity: 0.6;

        &.selected { opacity: 1; }
      }

      input[type='checkbox'] {
        vertical-align: middle;
      }

      .legislator-photo {
        height: 36px;
        vertical-align: middle;
      }
    }

    .email, button {
      width: 28em;
      float: left;
    }

    .email input {
      width: 100%;
    }

    button {
      float: right;
    }
  }

  // form states
  &[data-state='loading'] {
    .loading-indicator { display: block; }
  }

  &[data-state='loaded'] {
    .loading-indicator { display: none; }
    .subscription-info { display: block; }
  }

  &[data-state='no-results'] {
    .loading-indicator, .subscription-info { display: none; }
    .no-results-message { display: block; }
  }
}
