<!DOCTYPE html>
<html>
  <head>
    <title>Congress Track</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!--    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"> -->
  </head>
  <body>

    <form class="signup" method="POST">
      <label>ZIP Code</label>
      <input name="zip"></input>
      <label>Email Address</label>
      <input name="email"></input>

      <div class="legislators"></div>

      <input type="submit" value="Submit">
    </form>


    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/application.js"></script>
  </body>
</html>

