<!DOCTYPE html>
<html>
  <head>
    <title>Congress Track</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/application.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header class="page-header">
      <p>Track how your Congress members are actually voting.</p>
    </header>

    <form class="find-legislators" method="GET">
      <label class='placeheld-field'>
        <input name="zip" type="number" required />
        <span class='placeholder'>Zip code</span>
      </label>

      <button type="submit">Find legislators</button>

      <p class="explanation">Enter your zip code to find your senators and representatives and sign up for email notifications on their voting acitvity.</p>
    </form>

    <form class="signup" method="POST">
      <h2>Select legislators to track:</h2>
      <ul class="legislators"></ul>

      <label class='email placeheld-field'>
        <input name="email" type="email" required />
        <span class='placeholder'>Email address</span>
      </label>
      <button type="submit">Sign up for updates</button>
    </form>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/application.js"></script>
  </body>
</html>

