<header class="page-header">
  <img src="/logo.png" alt="Congress Track" />
  <h1>Track the voting activity of your Congress members.</h1>
</header>

<form class="find-legislators" method="GET">
  <label class="placeheld-field">
    <input name="zip" type="number" required />
    <span class="placeholder">Zip code</span>
  </label>

  <button type="submit">Find legislators</button>

  <p class="explanation">Enter your zip code to find your senators and representatives and sign up for email notifications on their voting acitvity.</p>
</form>

<form class="signup" method="POST">
  <h2>Select legislators to track:</h2>

  <p class="loading-indicator">Searching...</p>
  <p class="no-results-message">Your search returned no results.</p>

  <div class="subscription-info">
    <ul class="legislators"></ul>

    <label class="email placeheld-field">
      <input name="email" type="email" required />
      <span class="placeholder">Email address</span>
    </label>

    <button type="submit">Sign up for updates</button>
  </div>
</form>
