<div class="secondary-page">
  <h1 class="page-header">Your subscription has been submitted.</h1>

  <p>A confirmation email will be sent to <strong class="keyword"><%= user.email %></strong> shortly.</p>
</div>