<div class='subscribed'>
  <header class='page-header'>
    <p>Your subscription has been submitted.</p>
  </header>

  <p>A confirmation email will be sent to <strong class='email-address'><%= user.email %></strong> shortly.</p>
</div>