<div class='unsubscribed'>
  <header class='page-header'>
    <p>You have been successfully unsubscribed.</p>
  </header>

  <p>We're no longer send updates to <strong class='keyword'><%= user.email %></strong>.</p>
</div>