<div class="secondary-page">
  <h1 class="page-header">You have been successfully unsubscribed.</h1>

  <p>We're no longer sending updates to <strong class="keyword"><%= user.email %></strong>.</p>
</div>
