<form class="page-edit-subscription" method="POST">
  <header class='page-header'>
    <p>Edit your subscription</p>
  </header>

  <p>Subscription for <strong class='keyword'><%= user.email %></strong> is currently active.</p>

  <input type="hidden" name="subscribed" value="false">
  <button class='unsubscribe' type="submit">Unsubscribe</button>
</form>
